<!DOCTYPE html>
<html>
<head>
    <title>Verification Badge Cancelled</title>
</head>
<body>
    <h3>Hello <strong>{{ user.full_name }},</strong></h3>
    
    <p>Sorry to hear that you have cancelled your verified badge. You are no longer MyForm Verified</p>
    <hr>
    
    <p>If you want to get verified again , you can do so on your profile page</p>
    <h4>No refund will be provided for this cancellation</h4>
    <hr>
    <p>Thank you for choosing our service.</p>

    <p>If you need any support or have any questions, please feel free to contact our support team at:</p>
    <p><a href="mailto:support@myform.tech">support@myform.tech</a></p>
    
    <p>Best regards,<br>The MyForm Team</p>
    <a href="https://myform.tech">www.myform.tech</a>
</body>
</html>