{% extends 'base.html' %} {% load static %}
{% block title %} About {% endblock title %}

{% block head %}

<style>
  body {
    background-image: url("{% static 'hp1.jpeg' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .container, .container-md, .container-sm {
    max-width: 500px;
  }
</style>
{% endblock head %}
{% block body %} 

<form method="post">
<div class="container">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Explain issue</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>  
  
  
  
{% endblock body %}


