{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<style>
  body {
    background-image: url("{% static 'bp.png' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .profile-card {
    border: 2px solid #ccc; 
    padding: 20px; 
    border-radius: 10px;
    {% if user.verified_badge %}
    background-image: linear-gradient(#c3ddc9, #73e0f0d2);
    {% else %}
    background-color: #f9f9f9; 
    {% endif%}   
}

.profile-picture-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  
  overflow: hidden;
}
</style>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="profile-card">
                {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                      {{ message }}
                    </div>
                  {% elif message.tags == 'error' %}
                    <div class="alert alert-danger">
                      {{ message }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <div class="d-flex justify-content-end">
                <a href="{% url 'profile' %}" class="text-decoration-none text-dark">
                  <i class="bi bi-arrow-bar-right" style="font-size: 24px;"></i>
                 Back        
              </a>
            </div>
              <h2>Edit Profile</h2>
               <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.full_name.id_for_label }}">Full Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="{{ form.full_name.id_for_label }}" name="{{ form.full_name.html_name }}" value="{{ form.full_name.value }}">
                    </div>
                  </div>

                
                      
                
               
                
                  <div class="form-group">
                    <label for="{{ form.contact_number.id_for_label }}">Contact Number</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="{{ form.contact_number.id_for_label }}" name="{{ form.contact_number.html_name }}" value="{{ form.contact_number.value }}">
                     
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="{{ form.date_of_birth.id_for_label }}">Date of Birth</label>
                    <div class="input-group">
                      <input type="date" class="form-control" id="{{ form.date_of_birth.id_for_label }}" name="{{ form.date_of_birth.html_name }}" value="{{ form.date_of_birth.value }}">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.bio.id_for_label }}">Bio</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="{{ form.bio.id_for_label }}" name="{{ form.bio.html_name }}" value="{{ form.bio.value }}">
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="{{ form.profile_picture.id_for_label }}">Profile Picture</label>
                    <div class="input-group">
                      <input type="file" class="form-control custom-file-input" id="{{ form.profile_picture.id_for_label }}" name="{{ form.profile_picture.html_name }}">
                      {% if form.profile_picture.value %}
                        <img src="{{ form.profile_picture.value.url }}" alt="Profile Picture" style="max-width: 20px;">
                      {% endif %}
                    </div>
                  </div>
                  {% if user.verified_badge %}
                  <div class="active-status-toggle">
                    <label for="show-active-status">Show Active Status:</label>
                    <input type="checkbox" id="show-active-status" name="show_active_status" {% if user.show_active_status %}checked{% endif %}>
                </div>
                 {% endif %}
                  
                <label for="remove_profile_picture">Remove Profile Picture</label>
              <input type="checkbox" name="remove_profile_picture" id="remove_profile_picture">
              <div>
                <button type="submit" class="btn btn-success">
                  <i class="bi bi-check2-circle"></i> Save Changes
                </button>
                {% if not user.verified_badge %}
                <a href="{% url 'badge_selection' %}" class="btn btn-primary"><i class="bi bi-patch-check-fill " style="margin-right: 3px;"> </i>Get Verified Badge</a>
                {% endif%}
              </div>

    </form>

      
           </div>
       </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid d-flex align-items-center">
        
        <a class="navbar-brand" href="{% url 'blog_list' %}"><i class="bi bi-collection" style="font-size: 24px;"></i></a>
        <a class="navbar-brand" href="{% url 'user_list' %}"><i class="bi bi-people" style="font-size: 24px;"></i></a>
        <a class="navbar-brand" href="{% url 'blog_create' %}"><i class="bi bi-file-plus" style="font-size: 24px;"></i></a>
       
       <a class="navbar-brand" href="{% url 'users' %}"><i class="bi bi-chat" style="font-size: 24px;"></i>{{ unread_conversations_count }}</a>
          <a class="navbar-brand" href="{% url 'profile' %}">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture-icon">
            {% else %}
            
            <img src="{% static 'df.jpeg' %}" alt="Profile Picture" class="profile-picture-icon">
            {% endif %}
        </a>
      </div>
  </nav>
</div>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>