

{% extends 'base.html' %} {% load static %}
{% block title %} Home {% endblock title %}

{% block head %}

<style>
  body {
    background-image: url("{% static 'bp.png' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .btn-custom {
    background-color: white !important;
    color: blue;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: 1.5rem;
  }
  .btn-custom:hover {
    background-color: white !important;
    color: blue !important;
  }
</style>
{% endblock head %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="btn-group horizontal">
    <a href="/login_page" class="mx-lg-2">
    <button type="button" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: 1.5rem;">
      Login
    </button>
  </a>
  <a href="/register" class="mx-lg-2">
    <button type="button" class="btn btn-custom">
      Sign Up
    </button>
  </a>
  </div>
</div>
  


{% endblock body %}
