{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}
{% block head %}
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<style>
  body {
    background-image: url("{% static 'bp.png' %}");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>

{% endblock head %}
{% block body %}
<div class="login-form">
  {% if messages %}
  {% for message in messages %}
    {% if message.tags == 'success' %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% elif message.tags == 'error' %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
  <form method="post" action="{% url 'login_page' %}"> 
    {% csrf_token %}
    <h1>Sign in</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" name="email" placeholder="Email" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" name="password" placeholder="Password" autocomplete="new-password">
      </div>
      <a href="/reset" class="link">Forgot Your Password?</a>
    </div>
   
    <div class="action">
      <button onclick="location.href = '/register'" type="button">Register</button>
      <button type="submit">Sign in</button>
    </div>
  </form>
</div>


{% endblock body %}








